@use "../../../styles/abstracts/variables" as v;

.productList {
  background: #fff;
  padding: 16px;
  border-radius: v.$radius-md;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
