DATABASE_URL=

BCRYPT_SALT_ROUNDS=

PAGINATION_OFFSET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=
SUPABASE_BUCKET_FOLDER_USER=
SUPABASE_BUCKET_FOLDER_PRODUCT=
SUPABASE_BUCKET_FOLDER_CATEGORY=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
MAIL_FROM_ADDRESS=

EMAIL_VERIFICATION_TTL_SECONDS=

JWT_ACCESS_ALGORITHM=
JWT_ACCESS_EXPIRE_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_ALGORITHM=
JWT_REFRESH_EXPIRE_IN=

FE_URL=

MAX_SHOP_COUNT=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=
