@use "../../../styles/abstracts/variables" as v;

.container {
  background: #fff;
  padding: 16px;
  border-radius: v.$radius-lg;

  h2 {
    font-weight: 650;
    font-size: large;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
