@use "../../../styles/abstracts/variables" as v;

.cart,
.buy {
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

.cart {
  flex: 1;
  border-color: v.$color-primary;
  color: v.$color-primary;
  margin-right: 20px;
}

.buy {
  flex: 1;
  background: v.$color-primary;
}
