.wrapper {
  background: #fff;
  padding: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #ee4d2d;
  margin: 16px 0;
}
