@use "../../../../styles/abstracts/variables" as v;

.wrapper {
  background: #fff;
  padding: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: v.$color-primary;
  margin: 16px 0;
}
